@import "tailwindcss";

:root {
  --background: #f8f8f8f2;
  --foreground: #f8f8f8f2;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f8f8f2;
    --foreground: #f8f8f8f2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: monospace, Arial, Helvetica, sans-serif;
}
